body {
  font-family: 'futura-pt', 'Helvetice Neue', 'Helvetica', sans-serif;
}

.site-header {
  text-align: center;
}

.site-title {
  float: none;
}

.post-preview-wrapper {
  display: flex;
  flex-direction: column;
}

.post-preview {
  border-radius: 6px;
  border: 5px solid #333;
  padding: 47px 30px 20px;
  font-family: serif;
  width: 250px;
  height: 300px;
  color: #333;
  margin: 0 auto 1em;

  box-sizing: border-box;

  position: relative;
  overflow: hidden;

  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  display: flex;
  flex-direction: column;

  transition: color 0.2s ease;
}

.post-preview:visited {
  color: #333;
}
.post-preview:hover {
  text-decoration: none;
  color: #ccc;
}

.post-preview::after {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.post-preview:hover::after {
  content: 'Continue Reading...';
  font-family: 'futura-pt', 'Helvetice Neue', 'Helvetica', sans-serif;
  text-transform: uppercase;
  line-height: 1;
  font-size: 16px;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background: rgba(0,0,0,0.7);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  opacity: 1;
  width: 60%;
  text-align: center;
}

.post-preview-nav {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  text-align: right;
  width: 250px;

  margin: 0 auto;
  box-sizing: border-box;
}

.post-preview-summary {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
}

.post, .post-preview-excerpt {
  font-family: 'kepler-std', serif;
}

.post-title, .post-preview-title {
  font-family: 'kepler-std-display', serif;
  line-height: 1;
  font-size: 24px;
}

.post-title {
  font-size: 40px;
}

.post-preview-title {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}
.post-preview-excerpt {
  line-height: 1.25;
  font-size: 16px;
  overflow-y: hidden;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  position: relative;
  margin-bottom: 0;
}
.post-preview-excerpt::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}

.post-preview-next, .post-preview-previous {
  font-family: 'futura-pt', 'Helvetice Neue', 'Helvetica', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  color: #666;
  background: none;
  border-radius: 4px;
  border: 0;
  padding: 10px 0;
}
.post-preview-next {
  background: #eee;
  padding-left: 32px;
  padding-right: 16px;
  margin-left: 16px;
}

.post-preview-next:hover, .post-preview-previous:hover {
  color: #333;
}

.post-preview-next:hover {
  background: #ddd;
}

.post-preview-next-title {
  line-height: 1.2;
  margin-top: 0.5em;
}

.intro-app-top {
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
  color: #777;
  max-width: 80%;
  margin: -10px auto 10px;
}

@media only screen and (min-width: 375px) {
  .post-preview {
    width: 300px;
    height: 400px;
  }

  .post-preview-title {
    font-size: 30px;
  }

  .post-preview-excerpt {
    font-size: 20px;
  }

  .post-preview-nav {
    width: 300px;
  }

  .intro-app-top {
    max-width: none;
    margin-bottom: 20px;
  }

}

@media only screen and (min-width: 480px) {
  .post-preview-wrapper {
    flex-direction: row;
    align-items: baseline;
  }
  .post-preview {
    width: 350px;
    height: 450px;
    margin: 0;
  }

  .post-preview-nav {
    text-align: left;
    width: auto;
    margin: 0;
    margin-left: 2em;
  }
}
