---
layout: default
---

<div class="intro-app-post">
  <p>This article <a href="/">is part of a demo</a> showcasing a technique to make <a href="https://github.com/turbolinks/turbolinks">Turbolinks</a> (a javascript-based utility to make server-side pages load up quickly) work with <a href="https://vuejs.org">Vue.js</a> (a small-yet-mighty way to make interactive UIs in the browser). If you got here from the demo page, just click Back in your browser, and the current article should be displayed in the article picker just like you left it. To learn more about the technique, <a href="/">head back to the demo page.</a></p>
</div>
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
